<a href="https://colab.research.google.com/github/FlavioSarto/FlavioSarto/blob/main/AN%C3%81LISE_ESTAT%C3%8DSTICA_T6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problema 1

Vamos fazer um exercício de Regressão Logística, trabalhando com a base de dados do Titanic.

Utilizaremos os arquivos disponibilizados no Moodle que foram preparados para esta atividade. Embora os nomes sejam os mesmos, estes arquivos do Moodle poder ser diferentes (em conteúdo) daqueles encontrados no site Kaggle.

A base de dados (treinamento) é uma coleção de dados sobre alguns dos passageiros (891 ou 892) e o objetivo é prever a sobrevivência (1 se o passageiro sobreviveu ou 0 caso contrário), baseado em algumas características tais como classe de serviço, sexo, idade, etc. A base de dados de teste tem a mesma estrutura da base de treinamento, mas a variável Survived não contém nenhum valor (ou não está presente)

Depois de construir seu modelo, você vai aplicá-lo ao este conjunto de dados de teste e prever o valor da variável Survived.

Como se pode ver, utilizaremos tanto variáveis categóricas como contínuas.

Quando trabalhamos com uma base de dados real, precisamos levar em conta o fato de podermos ter dados faltantes ou corrompidos, e, portanto, precisamos preparar a base de dados para nossa análise.

As tarefas a serem realizadas são:

In [ ]:
train = read.csv('http://raw.githubusercontent.com/samuelhenrick1/Arduino/main/titanic_dw_train.csv')

In [ ]:
test = read.csv('https://raw.githubusercontent.com/samuelhenrick1/Arduino/main/titanic_dw_test.csv')

In [ ]:
install.packages('dplyr')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library("dplyr")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
str(test)

'data.frame':	418 obs. of  11 variables:
 $ PassengerId: int  1 7 8 9 14 16 20 23 29 37 ...
 $ Pclass     : int  2 3 1 1 1 1 3 3 1 3 ...
 $ Name       : chr  "Stanton, Mr. Samuel Ward" "Lang, Mr. Fang" "Eustis, Miss. Elizabeth Mussey" "Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)" ...
 $ Sex        : chr  "male" "male" "female" "female" ...
 $ Age        : num  41 26 54 48 62 36 21 NA 45 22 ...
 $ SibSp      : int  0 0 1 1 0 0 2 0 0 0 ...
 $ Parch      : int  0 0 0 1 0 2 0 0 0 0 ...
 $ Ticket     : chr  "237734" "1601" "36947" "13567" ...
 $ Fare       : num  15 56.5 78.3 79.2 26.6 ...
 $ Cabin      : chr  NA NA "D20" "B41" ...
 $ Embarked   : chr  "C" "S" "C" "C" ...

In [ ]:
head(test)

  PassengerId Pclass
1  1          2
2  7          3
3  8          1
4  9          1
5 14          1
6 16          1
  Name                                                            Sex    Age
1 Stanton, Mr. Samuel Ward                                        male   41
2 Lang, Mr. Fang                                                  male   26
3 Eustis, Miss. Elizabeth Mussey                                  female 54
4 Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli) female 48
5 Stead, Mr. William Thomas                                       male   62
6 Crosby, Miss. Harriet R                                         female 36
  SibSp Parch Ticket    Fare    Cabin Embarked
1 0     0     237734    15.0458 NA    C
2 0     0     1601      56.4958 NA    S
3 1     0     36947     78.2667 D20   C
4 1     1     13567     79.2000 B41   C
5 0     0     113514    26.5500 C87   S
6 0     2     WE/P 5735 71.0000 B22   S

In [ ]:
str(train)

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  2 3 4 5 6 10 11 12 13 15 ...
 $ Survived   : int  0 1 0 1 0 0 1 0 0 1 ...
 $ Pclass     : int  3 1 2 1 3 3 1 3 3 2 ...
 $ Name       : chr  "Johansson, Mr. Nils" "Minahan, Mrs. William Edward (Lillian E Thorpe)" "Hocking, Mr. Samuel James Metcalfe" "Chibnall, Mrs. (Edith Martha Bowerman)" ...
 $ Sex        : chr  "male" "female" "male" "female" ...
 $ Age        : num  29 37 36 NA 30 21 53 20 26 62 ...
 $ SibSp      : int  0 1 0 0 0 1 1 0 0 0 ...
 $ Parch      : int  0 0 0 1 0 0 1 0 0 0 ...
 $ Ticket     : chr  "347467" "19928" "242963" "113505" ...
 $ Fare       : num  7.85 90 13 55 8.05 ...
 $ Cabin      : chr  NA "C78" NA "E33" ...
 $ Embarked   : chr  "S" "Q" "S" "S" ...

In [ ]:
head(train)

  PassengerId Survived Pclass Name
1  2          0        3      Johansson, Mr. Nils
2  3          1        1      Minahan, Mrs. William Edward (Lillian E Thorpe)
3  4          0        2      Hocking, Mr. Samuel James Metcalfe
4  5          1        1      Chibnall, Mrs. (Edith Martha Bowerman)
5  6          0        3      Corn, Mr. Harry
6 10          0        3      Wiklund, Mr. Karl Johan
  Sex    Age SibSp Parch Ticket          Fare    Cabin Embarked
1 male   29  0     0     347467           7.8542 NA    S
2 female 37  1     0     19928           90.0000 C78   Q
3 male   36  0     0     242963          13.0000 NA    S
4 female NA  0     1     113505          55.0000 E33   S
5 male   30  0     0     SOTON/OQ 392090  8.0500 NA    S
6 male   21  1     0     3101266          6.4958 NA    S

a)       Fazer a preparação dos dados para serem utilizados na análise, considerando que serão utilizadas apenas as variáveis Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked

A1) Do conjunto de dados original, você deve selecionar um subconjunto apenas com as variáveis indicadas acima e a variável PassengerId.

In [ ]:
#Dica: função subset() ou select()
train[, c("Survived","Pclass","Sex","Age","SibSp","Parch","Fare","Embarked","PassengerId")]

    Survived Pclass Sex    Age  SibSp Parch Fare     Embarked PassengerId
1   0        3      male   29   0     0       7.8542 S         2
2   1        1      female 37   1     0      90.0000 Q         3
3   0        2      male   36   0     0      13.0000 S         4
4   1        1      female NA   0     1      55.0000 S         5
5   0        3      male   30   0     0       8.0500 S         6
6   0        3      male   21   1     0       6.4958 S        10
7   1        1      male   53   1     1      81.8583 S        11
8   0        3      male   20   0     0       7.9250 S        12
9   0        3      male   26   0     0       7.8958 S        13
10  1        2      male   62   0     0      10.5000 S        15
11  1        3      male   24   0     0       7.5500 S        17
12  1        1      female 38   0     0     227.5250 C        18
13  0        2      female 27   1     0      21.0000 S        19
14  1        3      male   NA   0     0       7.8875 S        21
15  1        3      male    1   1     2      20.5750 S        22
16  0        2      male   24   2     0      31.5000 S        24
17  0        3      male   33   0     0       8.6625 C        25
18  1        1      female 29   0     0     211.3375 S        26
19  0        1      male   48   0     0      50.4958 C        27
20  1        2      female 14   1     0      30.0708 C        28
21  0        3      male   27   0     0       7.2250 C        30
22  0        3      male   18   0     0       7.7750 S        31
23  0        3      male   23   0     0       7.0500 S        32
24  1        1      female NA   0     0     110.8833 C        33
25  1        1      female NA   1     0     133.6500 S        34
26  1        1      male   32   0     0      30.5000 C        35
27  0        3      male   NA   0     0       7.7333 Q        36
28  0        2      male   26   0     0      13.0000 S        38
29  0        2      male   27   0     0      15.0333 C        39
30  0        3      male   74   0     0       7.7750 S        40
⋮   ⋮        ⋮      ⋮      ⋮    ⋮     ⋮     ⋮        ⋮        ⋮
862 1        2      female 36.0 0     3      39.0000 S        1265
863 1        2      male   32.0 1     0      26.0000 S        1266
864 1        1      female 22.0 0     0     151.5500 S        1267
865 1        1      male   54.0 1     0      55.4417 C        1268
866 0        2      male   54.0 0     0      26.0000 S        1269
867 0        3      male     NA 1     0      14.4542 C        1271
868 0        3      male     NA 0     0       7.8958 C        1272
869 0        3      male    7.0 4     1      29.1250 Q        1273
870 0        3      female 14.5 1     0      14.4542 C        1275
871 0        3      female   NA 1     0      14.4583 C        1276
872 1        1      female 52.0 1     1      93.5000 S        1277
873 0        3      male     NA 0     0       6.8583 Q        1280
874 1        3      male   25.0 1     0       7.7750 S        1281
875 0        3      male   21.0 0     0       7.9250 S        1282
876 0        3      male     NA 0     0       8.0500 S        1283
877 1        2      female 22.0 1     1      29.0000 S        1285
878 0        1      male   46.0 0     0      79.2000 C        1286
879 1        1      female 44.0 0     0      27.7208 C        1287
880 1        1      female 42.0 0     0     227.5250 C        1288
881 0        2      male   18.0 0     0      11.5000 S        1289
882 0        3      male   20.0 0     0       9.8458 S        1290
883 0        1      male   50.0 1     0     106.4250 C        1293
884 0        3      female 18.0 0     1      14.4542 C        1294
885 0        3      male     NA 0     0       7.7500 Q        1295
886 0        3      male     NA 0     0       7.7750 S        1296
887 1        1      male   36.0 0     0      26.3875 S        1297
888 0        2      male   22.0 2     0      31.5000 S        1298
889 1        2      female 24.0 0     0      13.0000 S        1299
890 0        3      male   31.0 0     0       7.7750 S        1303
891 0        3      male   21.0 0     0       8.0500 S        1304

A2) Você deve  atribuir um valor para os NAs na variável Age. Utilize algum critério razoável, por exemplo, o valor médio.

In [ ]:
# Dica: mean(train$Age, na.rm=TRUE)
# Dica: função mutate()

a = mean(train$Age, na.rm=TRUE)
a

[1] 29.99363

In [ ]:
is.na(train$Age)

  [1] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [13] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE
 [25]  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [37] FALSE  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE
 [49] FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE
 [61] FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE
 [73] FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [85]  TRUE  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
 [97] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[109] FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
[121]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE
[133] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE
[145] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE
[157] FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[169] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[181]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[193] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[205] FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[217]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[229] FALSE FALSE  TRUE FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE
[241] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[253]  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE
[265] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE
[277] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE
[289] FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE  TRUE
[301] FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE  TRUE
[313] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[325]  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[337] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE
[349] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[361] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE
[373] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[385] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE
[397] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[409] FALSE FALSE FALSE  TRUE FALSE  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE
[421] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[433] FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE
[445] FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE  TRUE
[457] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE
[469] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[481] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE  TRUE FALSE
[493] FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE
[505] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE
[517] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[529] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE
[541] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
[553]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[565]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE
[577] FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[589] FALSE FALSE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE
[601] FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[613] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[625] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[637] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE
[649] FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[661] FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE
[673] FALSE FALSE  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE
[685] FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE
[697]  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[709] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[721] FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[733] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[745] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE
[757] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE
[769] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[781] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[793] FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE  TRUE
[805] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE
[817] FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE
[829]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[841] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE
[853] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
[865] FALSE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE
[877] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE
[889] FALSE FALSE FALSE

In [ ]:
any(is.na(train$Age))

[1] TRUE

In [ ]:
train$Age[is.na(train$Age)] = mean(train$Age, na.rm = TRUE)

In [ ]:
train[, c("Survived","Pclass","Sex","Age","SibSp","Parch","Fare","Embarked","PassengerId")]

    Survived Pclass Sex    Age      SibSp Parch Fare     Embarked PassengerId
1   0        3      male   29.00000 0     0       7.8542 S         2
2   1        1      female 37.00000 1     0      90.0000 Q         3
3   0        2      male   36.00000 0     0      13.0000 S         4
4   1        1      female 29.99363 0     1      55.0000 S         5
5   0        3      male   30.00000 0     0       8.0500 S         6
6   0        3      male   21.00000 1     0       6.4958 S        10
7   1        1      male   53.00000 1     1      81.8583 S        11
8   0        3      male   20.00000 0     0       7.9250 S        12
9   0        3      male   26.00000 0     0       7.8958 S        13
10  1        2      male   62.00000 0     0      10.5000 S        15
11  1        3      male   24.00000 0     0       7.5500 S        17
12  1        1      female 38.00000 0     0     227.5250 C        18
13  0        2      female 27.00000 1     0      21.0000 S        19
14  1        3      male   29.99363 0     0       7.8875 S        21
15  1        3      male    1.00000 1     2      20.5750 S        22
16  0        2      male   24.00000 2     0      31.5000 S        24
17  0        3      male   33.00000 0     0       8.6625 C        25
18  1        1      female 29.00000 0     0     211.3375 S        26
19  0        1      male   48.00000 0     0      50.4958 C        27
20  1        2      female 14.00000 1     0      30.0708 C        28
21  0        3      male   27.00000 0     0       7.2250 C        30
22  0        3      male   18.00000 0     0       7.7750 S        31
23  0        3      male   23.00000 0     0       7.0500 S        32
24  1        1      female 29.99363 0     0     110.8833 C        33
25  1        1      female 29.99363 1     0     133.6500 S        34
26  1        1      male   32.00000 0     0      30.5000 C        35
27  0        3      male   29.99363 0     0       7.7333 Q        36
28  0        2      male   26.00000 0     0      13.0000 S        38
29  0        2      male   27.00000 0     0      15.0333 C        39
30  0        3      male   74.00000 0     0       7.7750 S        40
⋮   ⋮        ⋮      ⋮      ⋮        ⋮     ⋮     ⋮        ⋮        ⋮
862 1        2      female 36.00000 0     3      39.0000 S        1265
863 1        2      male   32.00000 1     0      26.0000 S        1266
864 1        1      female 22.00000 0     0     151.5500 S        1267
865 1        1      male   54.00000 1     0      55.4417 C        1268
866 0        2      male   54.00000 0     0      26.0000 S        1269
867 0        3      male   29.99363 1     0      14.4542 C        1271
868 0        3      male   29.99363 0     0       7.8958 C        1272
869 0        3      male    7.00000 4     1      29.1250 Q        1273
870 0        3      female 14.50000 1     0      14.4542 C        1275
871 0        3      female 29.99363 1     0      14.4583 C        1276
872 1        1      female 52.00000 1     1      93.5000 S        1277
873 0        3      male   29.99363 0     0       6.8583 Q        1280
874 1        3      male   25.00000 1     0       7.7750 S        1281
875 0        3      male   21.00000 0     0       7.9250 S        1282
876 0        3      male   29.99363 0     0       8.0500 S        1283
877 1        2      female 22.00000 1     1      29.0000 S        1285
878 0        1      male   46.00000 0     0      79.2000 C        1286
879 1        1      female 44.00000 0     0      27.7208 C        1287
880 1        1      female 42.00000 0     0     227.5250 C        1288
881 0        2      male   18.00000 0     0      11.5000 S        1289
882 0        3      male   20.00000 0     0       9.8458 S        1290
883 0        1      male   50.00000 1     0     106.4250 C        1293
884 0        3      female 18.00000 0     1      14.4542 C        1294
885 0        3      male   29.99363 0     0       7.7500 Q        1295
886 0        3      male   29.99363 0     0       7.7750 S        1296
887 1        1      male   36.00000 0     0      26.3875 S        1297
888 0        2      male   22.00000 2     0      31.5000 S        1298
889 1        2      female 24.00000 0     0      13.0000 S        1299
890 0        3      male   31.00000 0     0       7.7750 S        1303
891 0        3      male   21.00000 0     0       8.0500 S        1304

In [ ]:
any(is.na(train$Age))

[1] FALSE

A3)  Você deve remover as linhas onde ainda estiverem faltando dados, depois de atribuir o valor para os NAs de Age. Poucas linhas estarão ainda com dados faltantes.

In [ ]:
sapply(train, function(x) sum(is.na(x)))

PassengerId    Survived      Pclass        Name         Sex         Age
          0           0           0           0           0           0
      SibSp       Parch      Ticket        Fare       Cabin    Embarked
          0           0           0           1         689           1

In [ ]:
any(is.na(train$Cabin))

[1] TRUE

In [ ]:
any(is.na(train$Embarked))

[1] TRUE

In [ ]:
train = na.omit(train)

In [ ]:
train

    PassengerId Survived Pclass
2     3         1        1
4     5         1        1
7    11         1        1
12   18         1        1
18   26         1        1
19   27         0        1
26   35         1        1
28   38         0        2
32   44         0        1
34   47         0        1
35   49         1        1
38   58         0        1
41   62         1        2
42   63         1        1
44   65         1        1
49   75         1        1
50   76         1        1
53   80         1        1
55   84         1        1
59   88         1        1
64   94         1        1
66   97         0        1
67   98         1        1
70  101         1        1
78  112         1        1
79  113         1        1
84  118         1        1
87  122         0        1
88  123         0        1
92  127         1        1
⋮   ⋮           ⋮        ⋮
769 1121        1        1
782 1143        1        1
783 1145        0        1
797 1163        0        1
805 1174        1        1
808 1180        1        1
809 1183        1        1
818 1196        0        1
819 1197        1        2
820 1198        1        3
832 1219        1        1
833 1220        0        1
842 1236        0        1
843 1237        0        1
845 1239        0        1
852 1252        0        1
854 1254        0        1
855 1255        0        1
857 1258        1        1
858 1259        1        1
859 1261        0        1
860 1263        0        2
862 1265        1        2
865 1268        1        1
872 1277        1        1
878 1286        0        1
879 1287        1        1
883 1293        0        1
887 1297        1        1
889 1299        1        2
    Name                                                  Sex    Age      SibSp
2   Minahan, Mrs. William Edward (Lillian E Thorpe)       female 37.00000 1
4   Chibnall, Mrs. (Edith Martha Bowerman)                female 29.99363 0
7   Dodge, Dr. Washington                                 male   53.00000 1
12  Endres, Miss. Caroline Louise                         female 38.00000 0
18  Allen, Miss. Elisabeth Walton                         female 29.00000 0
19  Brandeis, Mr. Emil                                    male   48.00000 0
26  Stahelin-Maeglin, Dr. Max                             male   32.00000 0
28  Nesson, Mr. Israel                                    male   26.00000 0
32  Foreman, Mr. Benjamin Laventall                       male   30.00000 0
34  Chaffee, Mr. Herbert Fuller                           male   46.00000 1
35  Francatelli, Miss. Laura Mabel                        female 30.00000 0
38  Fry, Mr. Richard                                      male   29.99363 0
41  Nye, Mrs. (Elizabeth Ramell)                          female 29.00000 0
42  Greenfield, Mr. William Bertram                       male   23.00000 0
44  Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")      female 24.00000 0
49  Perreault, Miss. Anne                                 female 30.00000 0
50  Gracie, Col. Archibald IV                             male   53.00000 0
53  Fortune, Miss. Alice Elizabeth                        female 24.00000 3
55  Pears, Mrs. Thomas (Edith Wearne)                     female 22.00000 1
59  Sloper, Mr. William Thompson                          male   28.00000 0
64  Fortune, Mrs. Mark (Mary McDougald)                   female 60.00000 1
66  Sutton, Mr. Frederick                                 male   61.00000 0
67  Snyder, Mrs. John Pillsbury (Nelle Stevenson)         female 23.00000 1
70  Earnshaw, Mrs. Boulton (Olive Potter)                 female 23.00000 0
78  Daly, Mr. Peter Denis                                 male   51.00000 0
79  Lesurer, Mr. Gustave J                                male   35.00000 0
84  Dodge, Mrs. Washington (Ruth Vidaver)                 female 54.00000 1
87  Smith, Mr. Richard William                            male   29.99363 0
88  Baxter, Mr. Quigg Edmond                              male   24.00000 0
92  Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll) female 64.00000 0
⋮   ⋮                                                     ⋮      ⋮        ⋮
769 Newsom, Miss. Helen Monypeny                          female 19.00000 0
782 Rosenbaum, Miss. Edith Louise                         female 33.00000 0
783 Hilliard, Mr. Herbert Henry                           male   29.99363 0
797 Franklin, Mr. Thomas Parham                           male   29.99363 0
805 Maioni, Miss. Roberta                                 female 16.00000 0
808 Dodge, Master. Washington                             male    4.00000 0
809 Bird, Miss. Ellen                                     female 29.00000 0
818 Kenyon, Mr. Frederick R                               male   41.00000 1
819 Cook, Mrs. (Selena Rogers)                            female 22.00000 0
820 Moor, Mrs. (Beila)                                    female 27.00000 0
832 Smith, Mrs. Lucien Philip (Mary Eloise Hughes)        female 18.00000 1
833 Allison, Mr. Hudson Joshua Creighton                  male   30.00000 1
842 Ross, Mr. John Hugo                                   male   36.00000 0
843 Maguire, Mr. John Edward                              male   30.00000 0
845 Van der hoef, Mr. Wyckoff                             male   61.00000 0
852 Newell, Mr. Arthur Webster                            male   58.00000 0
854 Molson, Mr. Harry Markland                            male   55.00000 0
855 Widener, Mr. George Dunton                            male   50.00000 1
857 Appleton, Mrs. Edward Dale (Charlotte Lamson)         female 53.00000 2
858 Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female 38.00000 1
859 Farthing, Mr. John                                    male   29.99363 0
860 Navratil, Mr. Michel ("Louis M Hoffman")              male   36.50000 0
862 Becker, Mrs. Allen Oliver (Nellie E Baumgardner)      female 36.00000 0
865 Stengel, Mr. Charles Emil Henry                       male   54.00000 1
872 Hays, Mrs. Charles Melville (Clara Jennings Gregg)    female 52.00000 1
878 Guggenheim, Mr. Benjamin                              male   46.00000 0
879 Brown, Mrs. James Joseph (Margaret Tobin)             female 44.00000 0
883 Douglas, Mr. Walter Donald                            male   50.00000 1
887 Flynn, Mr. John Irwin ("Irving")                      male   36.00000 0
889 Brown, Miss. Amelia "Mildred"                         female 24.00000 0
    Parch Ticket      Fare     Cabin       Embarked
2   0     19928        90.0000 C78         Q
4   1     113505       55.0000 E33         S
7   1     33638        81.8583 A34         S
12  0     PC 17757    227.5250 C45         C
18  0     24160       211.3375 B5          S
19  0     PC 17591     50.4958 B10         C
26  0     13214        30.5000 B50         C
28  0     244368       13.0000 F2          S
32  0     113051       27.7500 C111        C
34  0     W.E.P. 5734  61.1750 E31         S
35  0     PC 17485     56.9292 E36         C
38  0     112058        0.0000 B102        S
41  0     C.A. 29395   10.5000 F33         S
42  1     PC 17759     63.3583 D10 D12     C
44  0     PC 17482     49.5042 C90         C
49  0     12749        93.5000 B73         S
50  0     113780       28.5000 C51         C
53  2     19950       263.0000 C23 C25 C27 S
55  0     113776       66.6000 C2          S
59  0     113788       35.5000 A6          S
64  4     19950       263.0000 C23 C25 C27 S
66  0     36963        32.3208 D50         S
67  0     21228        82.2667 B45         S
70  1     11767        83.1583 C54         C
78  0     113055       26.5500 E17         S
79  0     PC 17755    512.3292 B101        C
84  1     33638        81.8583 A34         S
87  0     113056       26.0000 A19         S
88  1     PC 17558    247.5208 B58 B60     C
92  2     PC 17756     83.1583 E45         C
⋮   ⋮     ⋮           ⋮        ⋮           ⋮
769 2     11752        26.2833 D47         S
782 0     PC 17613     27.7208 A11         C
783 0     17463        51.8625 E46         S
797 0     113778       26.5500 D34         S
805 0     110152       86.5000 B79         S
808 2     33638        81.8583 A34         S
809 0     PC 17483    221.7792 C97         S
818 0     17464        51.8625 D21         S
819 0     W./C. 14266  10.5000 F33         S
820 1     392096       12.4750 E121        S
832 0     13695        60.0000 C31         S
833 2     113781      151.5500 C22 C26     S
842 0     13049        40.1250 A10         C
843 0     110469       26.0000 C106        S
845 0     111240       33.5000 B19         S
852 2     35273       113.2750 D48         C
854 0     113787       30.5000 C30         S
855 1     113503      211.5000 C80         C
857 0     11769        51.4792 C101        S
858 0     PC 17599     71.2833 C85         C
859 0     PC 17483    221.7792 C95         S
860 2     230080       26.0000 F2          S
862 3     230136       39.0000 F4          S
865 0     11778        55.4417 C116        C
872 1     12749        93.5000 B69         S
878 0     PC 17593     79.2000 B82 B84     C
879 0     PC 17610     27.7208 B4          C
883 0     PC 17761    106.4250 C86         C
887 0     PC 17474     26.3875 E25         S
889 0     248733       13.0000 F33         S

In [ ]:
any(is.na(train$Embarked))

[1] FALSE

In [ ]:
any(is.na(train$Cabin))

[1] FALSE

In [ ]:
sapply(train, function(x) sum(is.na(x)))

PassengerId    Survived      Pclass        Name         Sex         Age
          0           0           0           0           0           0
      SibSp       Parch      Ticket        Fare       Cabin    Embarked
          0           0           0           0           0           0

b)      Você deve criar um modelo  onde Survived será uma função das demais variáveis.

In [ ]:
model = glm(train$Survived ~ train$Pclass + train$Sex + train$Age + train$SibSp + train$Parch + train$Fare + train$Embarked) #family = binomial(link = "logit"), data = data)

In [ ]:
model

Call:  glm(formula = train$Survived ~ train$Pclass + train$Sex + train$Age +
    train$SibSp + train$Parch + train$Fare + train$Embarked)

Coefficients:
    (Intercept)     train$Pclass    train$Sexmale        train$Age
      1.0552031       -0.0015024       -0.5317785       -0.0029122
    train$SibSp      train$Parch       train$Fare  train$EmbarkedQ
      0.0348675       -0.0059490        0.0001298       -0.3000897
train$EmbarkedS
     -0.0492436

Degrees of Freedom: 200 Total (i.e. Null);  192 Residual
Null Deviance:	    46.21
Residual Deviance: 29.77 	AIC: 206.5

In [ ]:
summary(model)

Call:
glm(formula = train$Survived ~ train$Pclass + train$Sex + train$Age +
    train$SibSp + train$Parch + train$Fare + train$Embarked)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-1.04127  -0.35636   0.01775   0.13196   0.75640

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)      1.0552031  0.1416852   7.448 3.14e-12 ***
train$Pclass    -0.0015024  0.0624287  -0.024    0.981
train$Sexmale   -0.5317785  0.0581958  -9.138  < 2e-16 ***
train$Age       -0.0029122  0.0019448  -1.497    0.136
train$SibSp      0.0348675  0.0471393   0.740    0.460
train$Parch     -0.0059490  0.0402280  -0.148    0.883
train$Fare       0.0001298  0.0004036   0.322    0.748
train$EmbarkedQ -0.3000897  0.2380654  -1.261    0.209
train$EmbarkedS -0.0492436  0.0607619  -0.810    0.419
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for gaussian family taken to be 0.1550378)

    Null deviance: 46.209  on 200  degrees of freedom
Residual deviance: 29.767  on 192  degrees of freedom
AIC: 206.52

Number of Fisher Scoring iterations: 2

c)       Faça as análises do modelo, verificando a significância estatística das variáveis (e seus parâmetros ajustados), gráficos diagnósticos, etc.

In [ ]:
deviance(model)/df.residual(model)

[1] 0.1550378

d)      Atualize o modelo como consequência da análise realizada no item anterior.

In [ ]:
# *Remova as variÃ¡veis sem significÃ¢ncia estatÃ­stica uma a uma.
# *Execute o modelo e avalie os resultados.
# *Avalie novamente a super dispersÃ£o.

e)      Faça as previsões da variável Survived na base de dados de teste utilizando o modelo refinado, e prepare um arquivo CSV para submissão que contenha apenas duas colunas: PassengerId, Survived.

In [ ]:
# *Trate a base de dados de teste.
# *Avalie os dados faltantes e trate-os.
# Aplique o modelo preditivo.
results.Survived = predict(model,
                           newdata = subset(test,
                                            select = c(2,4, 5, 6, 7, 9, 11)),
                           type = "response")
results.Survived = ifelse(results.Survived > 0.5, 1, 0)
table(results.Survived)
results.Survived

ERROR: ignored

f)        Submeta seu arquivo e também o script R com todas as análises realizadas, até a criação do arquivo CSV.

In [ ]:
submissao = data.frame(PassengerId = test[, "PassengerId"],
                        Survived = results.Survived)

write.csv(submissao, "titanic-submissao.csv",
          row.names = FALSE, quote = FALSE)

ERROR: ignored

In [ ]:
# BÃ´nus: calcular a acurÃ¡cia
# Pacote: caret - funÃ§Ã£o confusionMatrix()

# Total      : 1309
# Treinamento: 891 (68%) ---> 606 (tem resposta)
# ValidaÃ§Ã£o  :           ---> 285 (tem resposta)
# Teste      : 418 (32%) ---> nÃ£o tem a resposta

# 1. Separar a base de treinamento em treinamento/validaÃ§Ã£o;
# 2. Criar o modelo de regressÃ£o usando treinamento (glm);
# 3. Predizer a resposta em validaÃ§Ã£o sem usar Survived (predict);
# 4. Comparar a resposta predita com a resposta original.