<a href="https://colab.research.google.com/github/FlavioSarto/FlavioSarto/blob/main/PL_Python_2_exercicio_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"> 

<h1 align=left><font size = 8, style="color:rgb(200,0,0)"><b>Ciência de Dados </b></font></h1> 
<h1 align=left><font size = 5, style="color:rgb(0,0,0)"><b>Paradigmas de Linguagens de
Programação para Ciência de Dados</b></font></h1> 

# 2 Seleção e Organização de Dados com Pandas
Professores: *Diego Nogare* & *Rogério de Oliveira* 

<br>
<br>

---

# Exercícios

Nos exercícios a seguir emprege a base de dados `titanic`.

Todos exercícios possuem várias soluções possíveis, mas não se preocupe com isso. A melhor solução é primeiro, a que funciona para você!

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from random import choices

titanic = sns.load_dataset('titanic')
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

1. Qual a quantidade de linhas e colunas de `titanic`?

In [3]:
titanic.shape

(891, 15)

2. Qual a idade do passageiro mais velho?

In [5]:
print(titanic.age)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [9]:
titanic2 = titanic.age

In [22]:
titanic_ordenado = sorted(titanic2)
print(titanic_ordenado)

[2.0, 2.0, 3.0, 4.0, 7.0, 8.0, 14.0, 14.0, 14.0, 15.0, 18.0, 18.0, 19.0, 19.0, 20.0, 21.0, 21.0, 22.0, 26.0, 27.0, 27.0, 28.0, 28.0, 29.0, 31.0, 34.0, 35.0, 35.0, 38.0, nan, 35.0, 38.0, 39.0, 40.0, 40.0, 42.0, 54.0, 55.0, 58.0, nan, nan, nan, nan, nan, nan, nan, 66.0, nan, nan, nan, nan, nan, nan, 49.0, 65.0, nan, 0.83, 4.0, 5.0, 11.0, 14.5, 16.0, 16.0, 17.0, 17.0, 19.0, 20.0, 21.0, 21.0, 21.0, 21.0, 22.0, 22.0, 23.0, 23.0, 24.0, 25.0, 26.0, 28.0, 28.0, 28.0, 28.5, 33.0, 34.0, 38.0, 45.0, nan, nan, 26.0, 26.0, 29.0, 29.0, 29.0, 30.0, 32.0, 32.0, nan, nan, nan, 33.0, nan, 37.0, 38.0, 46.0, 59.0, nan, 34.0, 71.0, nan, nan, nan, 1.0, 2.0, 9.0, 9.0, 12.0, 16.0, 16.0, 17.0, 17.0, 18.0, 19.0, 19.0, 19.0, 20.0, 20.0, 21.0, 21.0, 22.0, 22.0, 22.0, 23.0, 24.0, 24.0, 24.0, 24.0, 25.0, 26.0, 29.0, 30.0, 32.5, 54.0, 70.5, nan, 32.5, nan, nan, 27.0, 29.0, 33.0, 36.5, 37.0, 40.0, 40.5, 42.0, 44.0, 45.0, 47.0, nan, 45.0, 51.0, 51.0, 55.5, nan, nan, nan, nan, nan, 1.0, 1.0, 2.0, 3.0, 4.0, 4.0, 9.0, 16.0, 16.0, 18.0, 18.0, 19.0, 19.0, 21.0, 22.0, 24.0, 24.0, 26.0, 27.0, 27.0, 28.0, 28.0, 30.0, 30.0, 30.0, 31.0, 32.0, 32.0, 34.0, 36.0, 50.0, 56.0, 61.0, nan, nan, nan, nan, nan, 32.0, 35.0, 36.0, 40.0, 40.0, 42.0, 42.0, 44.0, 45.0, 45.5, 47.0, 58.0, nan, nan, nan, nan, 51.0, nan, 3.0, 5.0, 7.0, 8.0, 16.0, 18.0, 19.0, 19.0, 20.5, 22.0, 24.0, 24.0, 25.0, 29.0, 29.0, 30.0, 38.0, nan, 25.0, 25.0, 29.0, 30.0, 33.0, 35.0, 35.0, 36.0, 59.0, nan, 37.0, 44.0, nan, nan, 22.0, 29.0, 30.0, 35.0, 35.0, 37.0, 41.0, 41.0, 44.0, 45.0, 50.0, 54.0, nan, 62.0, nan, nan, 40.0, 52.0, nan, 58.0, nan, nan, 63.0, nan, 0.92, 2.0, 16.0, 16.0, 16.0, 17.0, 18.0, 19.0, 19.0, 19.0, 22.0, 22.0, 22.0, 22.0, 23.5, 24.0, 24.0, 24.0, 24.0, 26.0, 26.0, 26.0, 27.0, 28.0, 30.0, 31.0, 36.0, 38.0, 61.0, 65.0, nan, 30.0, 30.0, 31.0, 33.0, 36.0, 42.0, nan, nan, 36.0, 40.0, 43.0, 50.0, nan, nan, nan, nan, nan, 28.0, 30.0, 45.5, 54.0, nan, nan, nan, nan, 1.0, 1.0, 2.0, 3.0, 3.0, 15.0, 17.0, 18.0, 18.0, 19.0, 19.0, 20.0, 21.0, 22.0, 22.0, 22.0, 23.0, 24.0, 24.0, 24.0, 25.0, 25.0, 25.0, 27.0, 28.0, 28.0, 29.0, 29.0, 30.0, 35.0, 36.0, 38.0, 40.0, 40.0, 41.0, 42.0, 45.0, 45.0, nan, nan, nan, nan, nan, 45.0, nan, 32.0, 60.0, nan, nan, nan, 35.0, 42.0, nan, 36.0, nan, 3.0, 4.0, 10.0, 13.0, 14.0, 17.0, 18.0, 18.0, 19.0, 20.0, 20.0, 21.0, 21.0, 21.0, 21.0, 22.0, 23.0, 23.0, 24.0, 24.0, 25.0, 26.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 29.0, 30.0, 31.0, 31.0, 32.0, 33.0, 34.0, 34.0, 34.0, 36.0, 39.0, 42.0, 44.0, 45.0, 46.0, 50.0, 51.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 64.0, nan, 0.75, 5.0, 9.0, 9.0, 17.0, 21.0, 21.0, 21.0, 22.0, 22.0, 23.0, 24.0, 25.0, 25.0, 29.0, 30.0, 30.0, 33.0, 34.0, 34.0, 35.0, 36.0, 37.0, 38.0, 38.0, 47.0, 52.0, nan, 48.0, 48.0, 49.0, nan, 50.0, 56.0, 65.0, nan, nan, nan, nan, nan, nan, nan, 2.0, 29.0, nan, 50.0, 54.0, 58.0, 63.0, nan, nan, 55.0, 71.0, nan, nan, nan, 8.0, 9.0, 16.0, 17.0, 18.0, 19.0, 22.0, 22.0, 22.0, 26.0, 29.0, 33.0, nan, 28.0, nan, 2.0, 7.0, 11.0, 17.0, 22.0, 23.0, 24.0, 27.0, 30.0, 30.0, 30.0, 32.0, 32.0, 34.0, 36.0, 36.0, 36.0, 39.0, 40.5, 45.0, 47.0, 50.0, 54.0, nan, nan, 44.0, nan, nan, nan, nan, nan, 33.0, 36.0, 39.0, 48.0, 50.0, 62.0, 64.0, nan, nan, nan, nan, 19.0, 24.0, 28.0, 32.0, 40.0, nan, nan, 29.0, nan, 16.0, 18.0, 19.0, 22.0, 22.0, 24.0, 24.0, 25.0, 27.0, 30.0, 32.0, 34.0, 35.0, 35.0, 36.0, 36.0, 36.0, 36.0, 37.0, 39.0, 47.0, 49.0, 53.0, 62.0, nan, nan, 39.0, 39.0, 47.0, 54.0, nan, 60.0, nan, 35.0, 52.0, nan, nan, 49.0, nan, nan, nan, 40.0, 44.0, nan, nan, nan, 0.75, 2.0, 4.0, 9.0, 18.0, 18.0, 19.0, 20.0, 20.0, 20.0, 21.0, 21.0, 21.0, 21.0, 23.0, 23.0, 24.0, 24.0, 25.0, 26.0, 26.0, 26.0, 27.0, 28.0, 31.0, 31.0, 32.0, 32.0, 32.0, 32.0, 34.0, 36.0, 40.0, 40.0, 41.0, 42.0, 43.0, 47.0, 48.0, 50.0, 51.0, 56.0, 57.0, 61.0, nan, 80.0, nan, nan, nan, nan, nan, nan, nan, 58.0, nan, nan, 4.0, 6.0, 14.0, 14.0, 15.0, 17.0, 18.0, 18.0, 18.0, 18.0, 18.0, 19.0, 19.0, 20.0, 20.0, 22.0, 24.0, 24.5, 25.0, 25.0, 25.0, 26.0, 27.0, 27.0, 27.0, 29.0, 30.0, 31.0, 31.0, 35.0, 70.0, nan, 33.0, 34.0, 36.0, 38.0, 39.0, 43.0, nan, 42.0, 42.0, 44.0, 52.0, 60.0, nan, 60.0, nan, 45.0, 49.0, nan, nan, 48.0, 52.0, nan, 50.0, nan, 0.67, 4.0, 5.0, 6.0, 11.0, 13.0, 16.0, 16.0, 17.0, 18.0, 19.0, 20.0, 23.0, 23.0, 23.0, 25.0, 25.0, 28.0, 28.5, 29.0, nan, 18.0, 24.0, 29.0, 30.0, 30.5, 31.0, 35.0, 43.0, 48.0, nan, nan, nan, 21.0, 24.0, 31.0, 32.0, 33.0, 33.0, 34.0, 36.0, 36.0, 41.0, 48.0, 48.0, 51.0, 70.0, nan, nan, nan, 54.0, 57.0, nan, nan, nan, nan, 0.42, 0.83, 1.0, 1.0, 2.0, 6.0, 8.0, 10.0, 11.0, 15.0, 16.0, 18.0, 18.0, 18.0, 21.0, 23.0, 23.0, 25.0, 25.0, 26.0, 27.0, 27.0, 27.0, 30.0, 30.0, 30.5, 31.0, 32.0, 35.0, 46.0, nan, nan, nan, 25.0, 31.0, 31.0, 31.0, 33.0, 34.0, 38.0, 39.0, 39.0, 39.0, 39.0, 39.0, 43.0, 49.0, nan, 52.0, nan, nan, nan, 62.0, nan, nan, nan, 4.0, 4.0, 9.0, 15.0, 16.0, 16.0, 17.0, 18.0, 19.0, 19.0, 20.0, 20.0, 21.0, 22.0, 24.0, 24.0, 25.0, 25.0, 26.0, 26.0, 27.0, 27.0, 28.0, 28.0, 28.0, 30.0, 31.0, 33.0, 34.5, 35.0, 42.0, nan, nan, 32.0, 33.0, 39.0, 41.0, 42.0, 44.0, 45.0, 47.0, 47.0, 48.0, 51.0, 56.0, 74.0, nan, nan, nan, nan, nan]

In [23]:
max(titanic2)

80.0

3. Qual a idade da sobrevivente feminina mais velha?

In [27]:
titanic_female = titanic[titanic.sex == 'female']

In [32]:
max(titanic_female.age)

63.0

In [29]:
print(titanic_female)

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
8           1       3  female  27.0  ...   NaN  Southampton    yes  False
9           1       2  female  14.0  ...   NaN    Cherbourg    yes  False
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
880         1       2  female  25.0  ...   NaN  Southampton    yes  False
882         0       3  female  22.0  ...   NaN  Southampton     no   True
885         0       3  female  39.0  ...   NaN   Queenstown     no  False
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False

[314 rows x 15 columns]

In [60]:
titanic_female_alive = titanic_female[titanic_female.alive == 'yes']

In [61]:
print(titanic_female_alive)

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
8           1       3  female  27.0  ...   NaN  Southampton    yes  False
9           1       2  female  14.0  ...   NaN    Cherbourg    yes  False
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
874         1       2  female  28.0  ...   NaN    Cherbourg    yes  False
875         1       3  female  15.0  ...   NaN    Cherbourg    yes   True
879         1       1  female  56.0  ...     C    Cherbourg    yes  False
880         1       2  female  25.0  ...   NaN  Southampton    yes  False
887         1       1  female  19.0  ...     B  Southampton    yes   True

[233 rows x 15 columns]

In [62]:
max(titanic_female_alive.age)

63.0

4. Qual o percentual de sobreviventes da primeira e terceira classes?

In [72]:
titanic_alive = titanic[titanic.alive == 'yes']

In [73]:
titanic_alive.pclass

1      1
2      3
3      1
8      3
9      2
      ..
875    3
879    1
880    2
887    1
889    1
Name: pclass, Length: 342, dtype: int64

In [57]:
titanic_1class = titanic [ titanic.pclass == '1' ]
titanic_3class = titanic [ titanic.pclass == '3' ]

In [75]:
from collections import Counter
counter = Counter(titanic_alive.pclass == 3)
print(counter)

Counter({False: 223, True: 119})

In [76]:
from collections import Counter
counter = Counter(titanic.pclass == 3)
print(counter)

Counter({True: 491, False: 400})

In [82]:
from collections import Counter
counter = Counter(titanic_alive.pclass == 1)
print(counter)

Counter({False: 206, True: 136})

In [80]:
from collections import Counter
counter = Counter(titanic.pclass == 1)
print(counter)

Counter({False: 675, True: 216})

In [83]:
136/216

0.6296296296296297

In [78]:
119/491

0.24236252545824846

In [58]:
print(titanic_1class)

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []

In [45]:
len(titanic.pclass)

891

In [53]:
print(f'percentual de classes {len( titanic_3class )/ len( titanic.pclass ) :.2f} %')

percentual de classes 0.00 %

In [54]:
print(titanic_1class)

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []

5. Analise a média de idade dos passageiros por classe e sexo (sugestão: empregue groupby). Você pode notar que?

In [ ]:
# seu código